.home {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 88%;
  margin: auto;
  text-align: center;
}

.restaurants {
  border-radius: 20px;
  width: 300px;
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

.restaurants p {
  color: grey;
  margin-top: -10px;
  font-weight: 600;
}

.restaurants h3 {
  color: black;
  margin-bottom: 30px;
  font-size: larger;
  font-weight: 800;
}
.restaurants .price {
  color: rgb(255, 71, 44);
}

.home .delete .button {
  border: solid 1px red;
  background-color: rgb(255, 71, 44);
  color: white;
}
