.res-container {
  height: 665px;
  background-color: rgb(250, 250, 250);
}

.res-home {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: rgb(250, 250, 250);
  width: 75%;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.res {
  border-radius: 20px;
  width: 200px;
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  height: fit-content;
}

.res-container .res-home .res h3,
.res-container .res-home .res p {
  color: black;
}

.res-container .res-home .no_reservation {
  width: 1360px;
  text-align: center;
  margin-top: 200px;
}
