.Nav h3 {
  background-color: rgb(255, 70, 45);
  color: white;
  width: 70px;
  border-radius: 50px;
  text-align: center;
  margin-left: 50px;
}

.Nav Link {
  border: solid 1px red;
}

.Nav {
  border: solid 1px grey;
  background-color: rgb(295, 295, 295);
}

.search {
  padding-top: 4px;
  border: solid 1px grey;
}

.Nav Button {
  margin-top: 19px;
  margin-left: 5px;
}

.Formatted {
  border: solid 1px grey;
  display: grid;
  grid-template-columns: 3.2fr 1fr;
}

.Formatted h3 {
  background-color: rgb(255, 70, 45);
  color: white;
  width: 70px;
  border-radius: 50px;
  text-align: center;
  margin-left: 50px;
}

.Formatted Button {
  font-weight: 500;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-;
  margin-top: 10px;
}
